"""Item CRUD ViewSet."""
from core import ModelViewSet
from core.permissions import AllowAny
from .models import Item


class ItemViewSet(ModelViewSet):
    """Item list/create/retrieve/update/delete."""

    model = Item
    permission_classes = [AllowAny]
    tags = ["Items"]
