"""User CRUD ViewSet."""
from core import ModelViewSet
from core.permissions import IsAuthenticated
from .models import User


class UserViewSet(ModelViewSet):
    """User list/create/retrieve/update/delete."""

    model = User
    permission_classes = [IsAuthenticated]
    unique_fields = ["email"]
    tags = ["Users"]
