"""User model (AbstractUser)."""
from strider import Model
from strider.auth import AbstractUser


class User(AbstractUser, Model):
    """User with email auth."""

    __tablename__ = "users"
    __abstract__ = False
