"""User model (AbstractUser)."""
from core import Model
from core.auth import AbstractUser


class User(AbstractUser, Model):
    """User with email auth."""

    __tablename__ = "users"
    __abstract__ = False
