"""
App settings. Docs: docs/02-settings.md
"""
from core.config import Settings, configure


class AppSettings(Settings):
    """All configuration in one place."""
    app_name: str = "{{project_name}}"
    app_version: str = "0.1.0"
    
    # Auth - User model path
    user_model: str = "src.apps.users.models.User"


settings = configure(settings_class=AppSettings)
